body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/tech-blogging.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #011e2c;
}

header {
    background-color: #1515158d;
    color: #fff;
    padding: 10px 0;
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    font-family: inherit;
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1515158d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    backdrop-filter: blur(10px);
}

/* --------------home page-------------*/
ul.post-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul.post-list li {
    margin-bottom: 20px;
}

.post-name a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
}

.post-name a:hover {
    color: #6e6e6e;; 
}

.blog-card {
    background-color: #000000c5; 
    border-radius: 8px;  
    padding: 20px;  
    margin: 10px;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    transition: transform 0.2s, box-shadow 0.2s;  
    width: 500px;
    backdrop-filter: blur(10px)
}

p.comment-subtitle{
font-size: 2em;
}

.blog-card:hover {
    transform: scale(1.02);  
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);   

}

/*--------------login page-------------*/
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    margin-top: 30px;
}

.form-heading {
    text-align: center;
    margin-bottom: 20px;  
}

.form-section {
    width: 100%;  
    max-width: 400px;  
    padding: 20px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.login-signup-btn {
    width: 100%;
    padding: 10px;
    background-color: #3e3f44;  
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

.login-signup-btn:hover {
    background-color: #151515; 
}

.login-link{
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.sign-in-link {
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
}

.sign-in-link:hover {
    color: #848484;
}

.nav-links li {
    margin-left: 20px; 
}

.entry-field {
    width: 100%;
    max-width: 300px;  
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-top: 10px;
    color: white;
}

/*--------------sign in page-------------*/
.sign-in-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form {
    text-align: center;
}

.entry-field {
    width: 100%;
    max-width: 300px;  
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-signup-btn{
    margin-top: 10px;
}

label{
    margin-top: 10px;
}

/*--------------dashboard page-------------*/
.new-post-section{
    display: flex;
    justify-content: center;  
    align-items: center;  
    height: 30vh;  
}

#create-new-post {
    width: 200px;  
    height: 50px;  
    font-size: 1.2rem;  
}

h1, h2{
    color: white;
    font-size: 2em;
}

.edit-link{
    font-size: 20px;
    color: rgb(67, 59, 205);
}

.edit-link:hover {
    color: #ff7171;  
}

/*--------------create-post  page-------------*/
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;  
}
.form-section{
    width:500px;
}

/*-----------post info------------*/

.comment{
    margin-top: 50px;;
}

.meta{
    color: white;
    font-size: 15px;;
}

.text{
    font-size: 20px;
    color: white;
}

p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}

#comment-subtitle{
    color: rgb(57, 57, 57);
    font-size: 15px;
}

b{
    color: #838383;
}

/*-----------edit post------------*/
.new-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;  
}