<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blogging</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="/">Tech Blogging</a></div>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if loggedIn}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login" class="btn-no-style logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main class="container" >
        {{{body}}}
    </main>
    <script src="/js/logout.js"></script>
    <footer>
        &copy; 2023 Tech Blogging
    </footer>
</body>
</html>